{% extends 'base.html' %}
{% load static %}

{% block title %}
Авторизация
{% endblock title %}
{% block container %}
<div class="login-form-wrapper" style="text-align: center">
  <h1>
      Log In
  </h1>
  <div class="login-form-wrapper">
    <h3>
      {{ attention }}
    </h3>
  </div>
  {% for error in login_form.non_field_errors %}
  <div class="login-form-wrapper">
    <h3>
      {{ error }}
    </h3>
  </div>
  {% endfor %}
  <div class="form-body">
    <form name="auth-form" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div class="fieldset">
        <input id="id_username" name="username" type="text" required>
        <label for="id_username">Login</label>
        <div class="highlighter"></div>
      </div>
      <div class="fieldset">
        <input id="id_password" name="password" type="password" required>
        <label for="id_password">Password</label>
        <div class="highlighter"></div>
      </div>
      <div>
        <input type="submit" value="Enter"  class="primary-btn" style="margin-top: 30px">
      </div>
    </form>
  </div>
</div>

{% endblock container %}

