{% extends 'base.html' %}
{% load static %}

{% block title %}
Techno-Shop | Категории
{% endblock title %}

{% block container %}


{% for item in items %}
<div class="row">
	<div class="col-md-4 col-xs-6">
					{{ forloop.counter }}
	</div>
	<div class="col-12 col-md-4 item">
		{{ item.product }}
	</div>
	<div class="col-12 col-md-2 item">
		{{ item.quantity }}
	</div>
	<div class="col-12 col-md-2 item">
		{{ item.price }}
	</div>
	<div class="col-12 col-md-2 item">
		{{ item.amount }}
	</div>
	<form method="post" action="{% url 'cart_delete_item' item.pk %}">
        {% csrf_token %}
        <button type="submit" style="color: blue"><u>delete</u></button>
    </form>
</div>
{% endfor %}

{% endblock container %}


